@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 83 100% 95%;
    --foreground: 83 5% 10%;
    --card: 83 50% 90%;
    --card-foreground: 83 5% 15%;
    --popover: 83 100% 95%;
    --popover-foreground: 83 100% 10%;
    --primary: 83 64% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 83 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 45 30% 85%;
    --muted-foreground: 83 5% 40%;
    --accent: 45 30% 80%;
    --accent-foreground: 83 5% 15%;
    --destructive: 0 100% 47%;
    --destructive-foreground: 83 5% 90%;
    --border: 83 30% 50%;
    --input: 83 30% 47%;
    --ring: 83 64% 58%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 83 50% 10%;
    --foreground: 83 5% 90%;
    --card: 83 50% 10%;
    --card-foreground: 83 5% 90%;
    --popover: 83 50% 5%;
    --popover-foreground: 83 5% 90%;
    --primary: 83 64% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 83 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 45 30% 25%;
    --muted-foreground: 83 5% 60%;
    --accent: 45 30% 25%;
    --accent-foreground: 83 5% 90%;
    --destructive: 0 100% 47%;
    --destructive-foreground: 83 5% 90%;
    --border: 83 30% 47%;
    --input: 83 30% 47%;
    --ring: 83 64% 58%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ql-container {
  font-size: 16px !important;
}

@import "~@uploadthing/react/styles.css";
